# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode — user-specific
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Xcode — build artifacts
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Xcode — other
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/configuration/
Packages/
Package.pins

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# IDEs
.idea/
*.swp
*~
